<!DOCTYPE html>
<html lang="en">
<head>
    initial-scale=1.0">
    <title>Landing</title>
    <link rel="stylesheet" href="https://cdn.jsdeliver.net/npm/picnic">
</head>
<body>

    <h1>Products</h1>

    <h2> Welcome <%= data %></h2>
    <div>
        <this is extra data>
    </div>

    <footer>
        company info here
    </footer>
    
</body>
</html>